@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Parola sıfırlamayı onayla";
}

<h1>@ViewData["Title"]</h1>
<p>
    Şifreniz sıfırlandı. Lütfen burdan <a asp-page="./Login"> giriş yapınız.! </a>.
</p>
